<p>
  <b>Title:</b>
  <%=h @comment.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>User name:</b>
  <%=h @comment.user_name %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
