<h1>New autosave_article</h1>

<% form_for(@autosave_article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :articles_id %><br />
    <%= f.text_field :articles_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', autosave_articles_path %>
